body {
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    
}

#bg {
   background-image: url(/img/animes/bleach/bleach.png);
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
   transition: 0.3s;
}

.navbar {
    position: relative;
    z-index: 10;
}

#logo {
    width: 80px;
    height: 80px;
    position: relative;
    animation: float 4s infinite ease-in-out;
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    padding: 0 8%;
    height: 15vh;
}

#text-logo {
    margin-left: 1%;
}

.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(2px);
    position: absolute;
    left: 0;
    top: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-search {
    display: flex;
    width: 100%;
}

.fa-search {
    position: absolute;
    margin-top: 9px;
    margin-left: 464px;
    cursor: pointer;
}

.search {
    border-radius: 15px;
    outline: none;
    width: 100%;
    border: 1px solid #f0f0f0;
    padding: 8px 10px;
    background: transparent;
    color: #f0f0f0;
    font-size: 0.9rem;
}

.title {
    font-size: 4rem;
    letter-spacing: 7px;
    margin-bottom: 15px;
}

.title-info {
    font-size: 1.5rem;
}


/* Change the placeholder color */

::-webkit-input-placeholder {
   color: #f0f0f0;
}

:-moz-placeholder { /* Firefox 18- */
    color: #f0f0f0;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #f0f0f0;  
}

:-ms-input-placeholder {  
   color: #f0f0f0;  
}